@import url("https://fonts.googleapis.com/css?family=Lato:300");

body {
  --light-background-color: #fcfafc;
  --light-background-secondary-color: #333333;
  --light-text-color: #333333;
  --light-text-secondary-color: #e0e0e0;
  --lighter-text-color: #888995;
  font-family: "Lato", sans-serif;
  margin: 0;

  background-color: var(--light-background-color);
  color: var(--light-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-header {
  margin: 0.6em 0;
  display: flex;
  justify-content: center;
  font-size: 2em;
  text-align: center;
  align-items: center;
}

.menu-plus {
  width: 32px;
  height: 32px;
  margin: 0 5%;
}

.menu-note-list {
  font-size: 1.5em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-note-list-item {
  font-size: 1em;
  margin: 1em 0 1em 0.25em;
  padding: 0;
}

#inactive.menu-note-list-item {
  color: var(--lighter-text-color);
}

.note-name {
  font-size: 2em;
  font-weight: bold;
  margin: 0.6em 0.3em;
  font-family: "Lato", sans-serif; /* needs to be set explicitly, in order to override textarea default value */
}

.note-body {
  margin: 0.6em 0.3em;
  font-size: 1.5em;
  font-family: "Lato", sans-serif; /* needs to be set explicitly, in order to override textarea default value */
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  background-color: var(--light-background-secondary-color);
  color: var(--light-text-secondary-color);
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: var(--light-background-color);
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

/* taken from https://medium.com/claritydesignsystem/pure-css-accessible-checkboxes-and-radios-buttons-54063e759bb3 */
.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox label {
  position: relative;
  display: inline-block;

  /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
  padding-left: 22px;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";

  /*Needed for the line-height to take effect*/
  display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before {
  height: 16px;
  width: 16px;

  border: 1px solid;
  left: 0px;

  /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
   *to vertically center it.
   */
  top: 6px;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;

  transform: rotate(-45deg);

  left: 4px;
  top: 10px;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
  content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

/* remove ugly dots on Firefox */
button::-moz-focus-inner {
  border: 0;
}

.note-header {
  display: flex;
  align-items: center;
}

.icon:hover {
  color: #aa4465;
  filter: drop-shadow(0 0 5px rgba(170, 68, 101, 0.3));
}
